minesweeper/.idea/workspace.xml
./minesweeper/nbproject/
./minesweeper/build/
./minesweeper/.idea/
./minesweeper/dist/
./minesweeper/out/*
./out/
./.idea/
/minesweeper/build/
/minesweeper/dist/
/minesweeper/nbproject/private/
/minesweeper/nbdist/
/JavaApplication3/nbproject/private/