.root {
    -fx-background-color: #c7ecee;
}

.button {
    -fx-background-color: #22a6b3;
    -fx-border-color: #c7ecee;
}

.button:focused {
    -fx-background-color: #4834d4;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-scale-z: 0.95;
}


.grid  {
    -fx-border-insets: 50,50,50,50;
    -fx-border-color: #22a6b3;
    -fx-border-width: 2;
}

