.root {
    -fx-background-color: #D2D7D3;
}
.vbox {
    -fx-alignment: CENTER;
    -fx-pref-width: 500;
    -fx-pref-height: 500;
}

.button {
    -fx-background-color: #22a6b3;
    -fx-border-color: #D2D7D3;
    -fx-border-width: 0.5;
    -fx-border-radius: 0;
    -fx-font-size: 14;
    -fx-font-family: Lato;

}

.button:focused {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-scale-z: 0.95;
}
.label {
    -fx-alignment: CENTER;
}
.h1 {
    -fx-font-size: 30;
}
.grid  {
    -fx-border-insets: 20,20,20,20;
    -fx-border-color: #22a6b3;
    -fx-border-width: 2;

    -fx-background-color: rgba(255,255,255,0);
}

